* {
 
  margin: 0;
  padding: 0;
}
body{
	font-size: 20px;
	font-family:  Georgia, serif;
}
header{
	display: flex;
	justify-content: space-between;
	color: white;
	background-image: url("backgroundHeader.jpg");
	background-size: cover;
	background-repeat: no-repeat;
		padding-left: 1%;
		padding-right: 1%;
		position: fixed;
		width: 100%;
}
header ul{
	list-style-type: none;
}
@keyframes profil {
    from {opacity: 0;
    	margin-right: -100px;}
    to {opacity: 1; margin-right:;}
}
#NomPrenom{
    display: flex;
    margin-top: 2%;	
    flex-direction: column;
    animation: learn;
animation-duration: 2s;

}
#NomPrenom h2{
margin-top: 0%;
}
#NomPrenom h1{
margin-bottom: 5%;
}
#profil{
	background-color: rgba(0, 0, 0, 0.5);
    display: flex;	
    width: 30%;
    animation: profil;
    animation-duration: 2s;
    padding-left: 1%;
    padding-top:1%; 
    flex-direction: column;
    padding-bottom: 1%;

}
#profil li{

    padding-bottom: 1%;
}
#profil h3{
    text-align: center;
}


#specialisation{
	width: 200%;
	display: flex;
	flex-direction: column;
	margin-top: 2%;
	margin-left: -2%;
	width:100%;

	justify-content: space-around;

}
#file{
	width: 15%;

	height: 30%;
}
.iconeBarre{

    height: 90px;
}

.iconeBarre .fa-js{
margin-right: 0.75%;
}
.iconeBarre .fa-php{
margin-right: 1.75%;
}
.iconeBarre img{
margin-right:-2.25%;
	padding-top: 2%;
	padding-right: 6%;
	padding-left: 15%;
	width:10%;
}
.iconeBarre .fa-wordpress{
margin-right:1%;
}
footer i{
	padding-left: 15%;
	font-size: 300%

}
footer img{

}
.fa-html5{
 padding-top: 2%;
	padding-right: 8%;
	color: rgb(255, 87, 51 );
}
.fa-css3-alt{
	padding-top: 2%;
	padding-right: 8%;
	color: rgb(51, 94, 255  );
}
.fa-php{
	padding-top: 2%;
	padding-right: 2.5%;
	color: rgb(131, 51, 255 );
}
.fa-js{
	padding-top: 2%;
	padding-right: 5.5%;
	color: rgb(249, 255, 51  );
}
.fa-wordpress{
	padding-top: 2%;
	padding-right: 5%;
}

#speEducationExp{
display:flex;
width: 60%;
padding-top: 2%;
flex-direction:column;
margin-top: 19%;
padding-left: 2%;
}
#ProposCompetenceInteret{
background-color: #09121C;
color: white;
margin-top: 19%;
	display: flex;
	flex-direction: column;
	width: 40%;
	padding-top: 2%;
padding-bottom: 5%;
	padding-right: 8%;
	padding-left: 2%;
}
#speEducationExp h2{
text-align: center;
}
#speEducationExp ul{
margin-bottom: 2%;
}
footer{
	display: flex;
}
#competenceTitre{
	margin-top: 24.5%;
}
#educationTitre{
	margin-top: 7%;
}
#interetTitre{
	margin-top: 25%;
}
ul{
	list-style-type: none;
	font-size: 85%;
}
h2{
	color: red;
	font-size: 100%;
	margin-bottom: 2%;

}
a{
	color: white;

}
p{
	font-size: 85%;
}
span{
	color: red;
}
#realisation{
	display: flex;
	padding-left: 5%;

}
#realisation img{

	margin-top: 2%;
	width: 80%;
		padding-bottom: 5%;

}
@keyframes learn {
    from {opacity: 0;
    	margin-left: -100px;}
    to {opacity: 1; margin-left:;}
}
#AllTheForm{
	display: flex;
	flex-wrap: wrap;
	margin-top: 2%;

	width: 100%;
	justify-content: space-around;
}
#mailPrenomNom{
	display: flex;
	flex-direction: column;
	width: 40%;
}
#mailPrenomNom input{
width: 100%;
margin-bottom: 5%;
height: 50px;
border-radius: 25px;
padding: 1%;

}
.contactTitre{
	text-align: center;
}
#mailPrenomNom input:focus {
border-radius: 25px;
outline: none;
}
textarea{
	width: 40%;
	padding: 1%;

	height: 300px;
	border-radius: 25px;
}
textarea:focus{
	outline: none;

}
form button{
	margin-left:45%;
	padding: 1%;
	width: 10%;
	border-radius: 25px;
}
#realisationTitre{
	text-align: center;
	margin-top: 2%;
}